body {
  margin: 0;
  background: #1e1e1e;
  color: white;
  font-family: sans-serif;
}

.chat-container {
  width: 90%;
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.auth-area {
  margin-bottom: 15px;
}

#messages {
  height: 500px;
  overflow-y: auto;
  border: 1px solid #444;
  padding: 10px;
  background: #2b2b2b;
}

.message {
  background: #3a3a3a;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.mine {
  border: 2px solid #4fc3f7;
}

.username {
  color: #4fc3f7;
  font-weight: bold;
}

.uid {
  color: #999;
  font-size: 12px;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
